## Build output
bin/
obj/
**/bin/
**/obj/

## VS/VSCode user files
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/

## Logs and cache
*.log
*.cache

## Resharper
*.DotSettings.user
.idea/

## Temp files
*.tmp
*.bak
*.ncb
*.dbmdl
*.pdb
*.mdb

## OS cruft
Thumbs.db
ehthumbs.db
.DS_Store
*.swp

## Publish artifacts (optional — only if you use this pattern)
**/publish/

## Rider
.idea/

## Allow runtime artifacts
!runtime/
!runtime/**

## Allow data files
!Data/
!Data/**
/Docs/Docs.zip
/Docs/~$ades and Synergy.docx
/Docs/~$admap to Score Perfection.docx
/Docs/~$e Curated List Strategy.docx
/Docs/~$er's Guide - Best Fit Autotune (BTR) & Best Fit Autotune Extreme (BTRE).docx
/Docs/~$ngoDocumentation.docx
/Docs/~$od Tough Ml Guide.docx
